
  <ul class="nav nav-tabs" class="nav">
    <li role="presentation">@Html.ActionLink("Login", "Index", "Home")</li>
    <li role="presentation">@Html.ActionLink("Browse Flavors", "Flavors", "Home")</li>
    <li role="presentation">@Html.ActionLink("Browse Treats", "Treats", "Home")</li>
    <li role="presentation">@Html.ActionLink("Edit Flavors", "Index", "Flavors")</li>
    <li role="presentation">@Html.ActionLink("Edit Treats", "Index", "Treats")</li>

  </ul>