@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model SweetSavory.Models.Treat

<h3>This @Model.Name tastes:</h3>

@foreach (FlavorTreat join in @Model.FlavorTreats)
{
  <p>@Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new {id = join.Flavor.FlavorId})
  @Html.ActionLink("(Delete)", "DeleteFlavor", "Treats", new { id = join.FlavorTreatId})</p>
}

<p>@Html.ActionLink("Add a Flavor for this Treat", "AddFlavor", "Treats", new {id = Model.TreatId})</p>
<p>@Html.ActionLink("Delete this Treat", "Delete", "Treats", new {id = Model.TreatId})</p>